$text-color: #212121;
$helvetica-stack: helvetica, arial, sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0px;
    font-family: $helvetica-stack;
}
* {
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;

    .gallery-container {
        height: 100%;
        @include flex-center;

        #gallery {
            display: inline-block;

            &:hover {
                cursor: none;
            }
        }
    }

    $buttons-background: #2A2A2A;

    .buttons-panel {
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.5);


        @include flex-center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 30px;
        background: #FAFAFA;
        float: right;
        width: 33%;
        height: 100%;
        background: $buttons-background;

        .buttons-inner {
            width: 240px;
            text-align: center;
            margin-left: 12px;

            .line-container {
                padding: 18px;
                border: 1px solid #AAA;
                position: relative;
                width: 100%;
                margin: 20px 0px;

                &:nth-of-type(1) {
                    margin-bottom: 40px;
                }

                .inline-title {
                    position: absolute;
                    display: inline-block;
                    height: 16px;
                    line-height: 16px;
                    top: -8px;
                    left: 17px;
                    color: white;
                    padding: 0px 12px;
                    font-weight: 300;
                    color: #BBB;
                    text-transform: uppercase;
                    font-size: 16px;
                    background: $buttons-background
                }
            }

            .btn {
                // width: 180px;
                padding: 12px 28px;
                margin: 6px;
                background: #BBB;
                font-size: 12px;
                text-transform: uppercase;
                transition: background 0.2s;
                color: $text-color;
                text-align: center;
                font-weight: 300;

                &:hover {
                    background: #AAA;
                    cursor: pointer;
                }
                &:active {
                    background: #999;
                }

                &.calculate {
                    background: rgb(59, 93, 133);
                    color: white;

                    &:hover {
                        background: rgb(49, 81, 119);
                        color: #DDD;
                    }
                    &:active {
                        background: rgb(43, 64, 91);
                        color: #BBB;
                    }
                }
            }

            .mode {
                &.selected {
                    background: #a34242;
                    color: white;
                }
            }

            .score-container {
                display: inline-block;
                width: 180px;
                background: #333;
                padding: 18px;
                color: white;
                font-weight: 300;
                font-family: $helvetica-stack;
                text-align: center;
            }

        }
    }

}
